*{
    margin:0;
    padding:0;
}

/* banner section start  */
.banner-container{
    max-width: 1440px;
    margin: auto;
}
.banner-background{
    background-image: url(./images/headBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 0.1;
}
.banner{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    place-items: center;
    justify-content: space-around;
    padding:50px 100px 0px;
}
.banner-text h1{
    font-size: 60px;
}
.banner-text p{
    font-size: 18px;
    color:#605e5e;
}
.banner-img img{
    width: 100%;;
}
.special-text{
    color:#1eb11e;
}
.banner-btn{
    background-color: #1eb11e;
    color:white;
    padding: 15px 35px;
    border: 2px solid #1eb11e;
    font-size: 18px;
    font-weight: 600;
    margin-top:15px;
    border-radius: 5px;
}

.banner-btn:hover{
    background-color: white;
    color:#1eb11e;
    border: 2px solid #1eb11e;
}
/* banner section end  */

/* about section start */
.about-container{
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px 100px;
}
.about{
    display: flex;
    gap:20px;
    place-items: center;
    justify-content: space-between;
    padding: 20px;
}
.about-text{
    font-size:14px;
}
.about i{
    font-size: 40px;
    /* color:#1eb11e; */
}
.vline{
    border-right: 2px solid #1eb11e;
    height: 30px;
}
.about:hover {
    background-color: #1eb11e;
    color:white;
} 

/* about section end */

/* service section start */
.service-container{
    background-color: #ededf1;
}
.services{
    max-width: 1440px;
    display: flex;
    gap: 50px;
    margin: auto;
    justify-content: space-around;
    padding: 50px 100px;
}

.service{
    background-color: white;
    padding:50px;
    border-radius: 10px;
    box-shadow: 2px 5px 15px gray;
    flex-basis: 30%;
}
.service h3{
    font-size: 25px;
    padding-top: 5px;
    color: #1eb11e;
}
.service p{
    margin: 10px 0px;
    text-align: justify;
    color:gray;
}
.readMore{
    border: 0;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    align-items: flex-end;
    float: right;
}
.readMore:hover{
    color:#1eb11e;
}

/* service section end */

/* new project section start */
.newProject{
    max-width: 1440px;
    display: flex;
    place-items: center;
    justify-content: space-around;
    padding:50px 100px;
    gap: 50px;
    margin: auto;
}
.projectText, .projectImg{
    flex-basis: 50%;
}

.projectText h3{
    font-size: 45px;
}
.projectImg img{
    width: 100%;
}
/* new project section end */

/* provide section start */
.provide-container{
    max-width: 1440px;
    margin: auto;
    padding:50px 100px;
    display:flex;
    place-items: center;
    gap:50px;
}

.provideText h3{
    font-size: 50px;
    padding-bottom: 15px;
}
.provideText h4{
    font-size: 30px;
    padding-bottom: 15px;
}
.provideText p{
    font-size:18px;
    padding-bottom: 5px;
    color: gray;
}
.provideServices{
    display: flex;
    gap:50px;
}
/* provide section end */

/* details section start */
.details-container{
    max-width: 1440px;
    margin: auto;
    padding:50px 100px;
    display: flex;
    gap:100px;
    place-items: center;
    justify-content: space-around;
}
.detailsBackground{
    flex-basis: 50%;
    background-image: url(./images/workers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    position:relative;
    z-index: -2;
}
.detailsBg{
    background-color: white;
    width:100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
.detailsText{
    flex-basis: 50%;
}
.detailsText h3{
    font-size: 40px;
}
.detailsText p{
    color:gray;
    word-spacing: 2px;
}
.detailsInfo{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: center;
    padding: 200px 50px;
}
.detailsInfo h3{
    font-size: 36px;
    color: #1eb11e;
}
.detailsInfo p{
    font-weight: bold;
    color:#605e5e;
}
/* details section end */

/* reviews section start */
.review-container{
    max-width: 1440px;
    text-align: center;
    padding:50px 100px;
    margin: auto;
}
.review-container h2{
    font-size: 40px;
}
.review-container>p{
    font-size: 18px;
    color:grey;
}
.reviews{
    display: flex;
    gap:50px;
    justify-content: center;
}

.review{
    box-shadow: 2px 2px 2px 3px gray;
    padding:20px;
    margin-top: 50px;
    opacity: 0.8;
    flex-basis: 30%;
}
.review:hover{
    opacity: 1;
    transform: scale(1.1);
}
.reviewDetails{
    display: flex;
    gap: 20px;
    padding:10px 0px 10px;
    place-items: center;
    text-align: left;
}


.reviewDetails img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reviewDetails span{
    font-weight: bold;
}
/* reviews section end */

/* footer section start*/
.footer-container{
    background-color:#04f90c1b;
}
.footer{
    max-width: 1440px;
    margin: auto;
    padding: 50px 100px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.footerHead{
    font-size: 20px;
    color:#434343;
    margin-bottom: 20px;
}
.socialMedia{
    display: flex;
    gap:20px;
}
.fb, .twitter,.google{
    color:white;
    padding:20px;
    place-items: center;
    text-align: center;
}

.fb i,.twitter i,.google i{
    border-radius: 50%;
    font-size: 25px;
}
.fb p, .twitter p, .google p{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
.fb{
    background-color: #1c68c4b5;
}
.fb i{
    background-color: #3087f0ae;
    padding: 20px 25px;
}

.twitter{
    background-color: #44dbeed2;
}
.twitter i{
    background-color: #3fcce5d9;
    padding: 20px;
}

.google{
    background-color: #f35f32c5;
}
.google i{
    background-color: #f55c3acb;
    padding: 20px 18px;
}

.emailContact p{
    font-size: 18px;
    margin: 20px 0px;
}

.emailContact input{
    padding: 15px 25px;
    width: 80%;
    background-color: #f8f6f6;
    border: 0;
}
.emailContact button{
    padding:15px;
    border:0;
    background-color: #1eb11e;
    color:white
}
.footerText{
    text-align: center;
    padding: 10px;
    color:#434343;
}
/* footer section end */