*{
    margin:0;
    padding:0;
}

/* banner section start  */
.banner-background{
    background-image: url(./images/headBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 0.2;
    max-width: 1440px;
}
.banner{
    position: relative;
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding:50px 100px 0px;
    top:0;
    left:0;
}
.banner-text h1{
    font-size: 60px;
}
.banner-text p{
    font-size: 18px;
    color:#605e5e;
}
.banner-img img{
    width: 100%;;
}
.special-text{
    color:#1eb11e;
}
.banner-btn{
    background-color: #1eb11e;
    color:white;
    padding: 15px 35px;
    border: 2px solid #1eb11e;
    font-size: 18px;
    font-weight: 600;
    margin-top:15px;
    border-radius: 5px;
}

.banner-btn:hover{
    background-color: white;
    color:#1eb11e;
    border: 2px solid #1eb11e;
}
/* banner section end  */

/* about section start */
.about-container{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 100px;
}
.about{
    display: flex;
    gap:20px;
    place-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid white;
    
}
.about-text{
    font-size:14px;
}
.about i{
    font-size: 40px;
    /* color:#1eb11e; */
}
.vline{
    border-right: 2px solid #1eb11e;
    height: 30px;
}
.about:hover {
    background-color: #1eb11e;
    color:white;
} 


/* about section end */